<div *ngIf="qrCodeDetail">
    <h1 *ngIf="qrCodeDetail.IsRedeemed" style="color: red;">{{informationText}} - ID : {{qrCodeIdDisplay}}</h1>
    <h1 *ngIf="!qrCodeDetail.IsRedeemed" style="color: green;">{{informationText}} - ID : {{qrCodeIdDisplay}}</h1>

    <div class="example-button-row" *ngIf="!qrCodeDetail.IsDeleted">
        <div class="activeSection" *ngIf="!qrCodeDetail.IsRedeemed && !qrCodeDetail.IsIssued">
            Name :
            <input [(ngModel)]="value" style="margin-right: 10px; margin-bottom: 10px;">
            <button mat-raised-button color="accent" (click)="onActive()">Make QR Code Active</button>
            <h3 style="color: red;" *ngIf="validationMessage">Error : {{validationMessage}}</h3>

        </div>

        <div style="padding: 10px;" *ngIf="qrCodeDetail.IsRedeemed"></div>

        <button *ngIf="!qrCodeDetail.IsRedeemed && qrCodeDetail.IsIssued" mat-raised-button color="primary"
            (click)="onRedeem()">Make QR Code Redeem</button>

        <div style="padding: 10px;"></div>

        <button mat-button color="accent" (click)="onBackClick()">Back To Scan</button>
    </div>
</div>
<h1 *ngIf="loading">loading...</h1>